# Pinata Cloud IPFS Configuration (Optional for mock testing, recommended for production)
PINATA_JWT=
PINATA_API_KEY=
PINATA_SECRET_API_KEY=
NEXT_PUBLIC_GATEWAY_URL=https://gateway.pinata.cloud/ipfs/

# Contract Address (Will be automatically updated on deploy)
NEXT_PUBLIC_CONTRACT_ADDRESS=

